.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 8px;
  }

.banner {
  color: var(--textwhite);
  background-color: var(--secondaryblue);
  border: none;
}

.calltoaction {
  color: var(--textwhite);
  background-color: var(--primaryblue);
  border: none;
}

.secondarybutton {
  width: 12rem;
  color:var(--primaryblue);
  background-color: transparent;
  border: 2px inset var(--primaryblue);
} 

.secondarybutton:hover {
  width: 12rem;
  color:var(--textwhite);
  background-color: var(--primaryblue);
  border: 2px inset var(--primaryblue);
} 
