.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 8px;
  }

.banner {
  color: var(--textwhite);
  background-color: var(--secondaryblue);
  border: none;
}

.calltoaction {
  color: var(--textwhite);
  background-color: var(--primaryblue);
  border: none;
}

.secondarybutton {
  color:var(--primaryblue);
  background-color: transparent;
  border-color: var(--primaryblue);
} 

.instagram {
  background-image: url(../../../src/assets/images/ig.svg);
  height: 1rem;
}

.twitter {

}

.facebook{

}
/* Refazer o Secondarybutton com a borda interna */