.button {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	border-radius: 8px;
}

.calltoaction {
	color: var(--textwhite);
	background-color: var(--secondarygreen);
	border: none;
	transition: filter 0.2s;
}

.calltoaction:hover {
	background-color: #406E7D;
	filter: brightness(0.9);
}

.primarybutton {
	color: var(--textwhite);
	background-color: var(--primaryblue);
	border: none;
	transition: filter 0.2s;
}

.primarybutton:hover {
	background-color: var(--primarybrown);
	filter: brightness(1.15);
}

.secondarybutton {
	width: 12rem;
	color: var(--primaryblue);
	background-color: transparent;
	border: 2px inset var(--primaryblue);
	transition: color 0.2s, background-color 0.2s;
}

.secondarybutton:hover {
	color: var(--textwhite);
	background-color: var(--primaryblue);
}

