.row{
    display: flex;
    margin: 3rem;
    justify-content: space-around;
    max-width: 76,5rem;
    max-height: 36,78rem;
}

.card {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    margin: 0 1rem;
    border-radius: 24px;
    width: 20rem;
}

h3 {
    font-size: 1.5rem;
} 

p {
    padding: 0.5rem;
    color: #073044;
    text-align: center;
    font-size: 0.875rem;
}

.img-card {
    background-color: #F5EFE9;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 24px;
}


@media (max-width: 1110px) {
    .row{
        flex-wrap: wrap;
}
    .card {
        margin-bottom: 3rem;
        
}
}